$primaryClr: #4527a4;
$secondaryClr: #ffb700;
$themeClr: #4535aa;
$themeLight: #e7e4f8;
$whiteClr: #ffffff;
$blackClr: #212529;
$textClr: #4f4f4f;
$textLight: #6c757d;
$footTextClr: rgba(255, 255, 255, 0.7);
