@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background: #ffffff;
    color: #212529;
    font-size: 15px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a html {
    scroll-behavior: smooth;
}

.btn {
    border: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul {
    list-style: none;
    padding: 0;
}

hr {
    color: #b1bfcb;
    margin: 2rem 0;
}

.primary_btn {
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.primary_btn {
    background: #4527a4 !important;
    color: #ffffff !important;
    border-color: #4527a4;
}

.primary_btn:hover {
    /* background: #8372f3; */
    color: #d8d3d3 !important;
}

.navbar-toggler {
    display: block;
    padding: 0;
    border: 0;
    list-style: none;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.heading {
    color: #212529;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

/*============ Header CSS Start ============*/
.header {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    position: relative;
}

.header .navbar-brand img {
    max-width: 120px;
}

.header .search_box {
    width: 100%;
    margin: 0.5rem 0;
    position: relative;
}

.header .search_box .form-control {
    height: 2.5rem;
    padding-right: 3.25rem;
    border: 0;
    border: 1px solid #d3dce6;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.header .search_box .btn {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 2.5rem;
    height: calc(100% - 2px);
    background: #4535aa;
    border-radius: 0.2rem;
}

.header .navbar {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header .navbar .navbar-nav .nav-item {
    position: relative;
}

.header .navbar .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.55);
    letter-spacing: 0.02em;
    line-height: 1.7;
    padding: 0.5rem 0.75rem;
}

.header .navbar .navbar-nav .nav-item .nav-link svg {
    width: 1.25rem;
    margin-left: auto;
    fill: currentColor;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover,
.header .navbar .navbar-nav .nav-item .nav-link:focus,
.header .navbar .navbar-nav .nav-item .nav-link.active {
    color: rgba(0, 0, 0, 0.7);
}

.header .navbar .navbar-nav .nav-item .nav-link:hover svg,
.header .navbar .navbar-nav .nav-item .nav-link:focus svg,
.header .navbar .navbar-nav .nav-item .nav-link.active svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header .navbar .navbar-nav .nav-item .menu {
    position: absolute;
    width: 300px;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 100;
}

.header .navbar .navbar-nav .nav-item .menu ul {
    background: #ffffff;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 0.35rem;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.header .navbar .navbar-nav .nav-item .menu ul li {
    color: #212529;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.header .navbar .navbar-nav .nav-item .menu ul li.info {
    color: #212529 !important;
    font-size: 0.85rem;
    font-weight: 300 !important;
}

.header .navbar .navbar-nav .nav-item .menu ul li.info:hover {
    background: transparent !important;
}

.header .navbar .navbar-nav .nav-item .menu ul li a {
    color: #212529;
}

.header .navbar .navbar-nav .nav-item .menu ul li a img {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
}

.header .navbar .navbar-nav .nav-item .menu ul li:hover {
    background: #4527a4;
}

.header .navbar .navbar-nav .nav-item .menu ul li:hover a {
    color: #ffffff;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown {
    top: -10px;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #fff;
    overflow: auto;
    position: relative;
    width: 80%;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .toggle {
    width: 30%;
    padding: 20px;
    background-color: #f8f7fa;
    border-bottom: 1px solid #ddd;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .toggle a {
    color: #212529;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .toggle a span.cat_text {
    font-weight: 300;
    margin-left: 0.5rem;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .toggle a span.float-end {
    float: right;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section:hover .toggle a span.float-end {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0.5rem);
    transform: translateX(0.5rem);
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew {
    position: absolute;
    top: 0;
    left: 30%;
    height: 100%;
    width: 70%;
    background-color: #fff;
    overflow: hidden;
    display: none;
    border-radius: 0 0.4rem 0.4rem 0;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew.active {
    display: block;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew a h3 {
    color: #6c757d;
    font-size: 1rem;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew .mega-url-list {
    font-size: 0.95rem;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew .mega-url-list p {
    margin-bottom: 1rem;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew .mega-url-list p .mega-link {
    color: #212529;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew .mega-url-list p .mega-link:hover {
    text-decoration: underline;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew .mega-link-pill {
    font-size: 0.95rem;
    padding: 0.35rem 0.7rem;
    margin-right: 1rem;
    background: #ffffff;
    color: #4527a4;
    border-radius: 0.35rem;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .slidenew .mega-link-pill:hover {
    background: #4527a4;
    color: #ffffff;
}

.header .navbar .navbar-nav .nav-item .menu .main_dropdown .tutorial_section .toggle:hover+.slidenew {
    display: block;
}

/* menubar show */
.header .navbar .navbar-nav .nav-item:hover .menu {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.header .navbar .navbar-nav .nav-item.mega-dropdown .menu {
    width: 12000px;
    left: -50px;
}

.header.is_sticky .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 999;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.offcanvas {
    max-width: 75%;
}

.offcanvas .offcanvas-header {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.offcanvas .tutorial_link {
    width: 100%;
    padding: 1rem 0;
}

.offcanvas .tutorial_link a {
    color: #6c757d;
}

.offcanvas .tutorial_link a svg {
    max-width: 1.5rem;
}

.offcanvas .tutorial_link>a {
    color: #212529;
}

/*============ Header CSS End ============*/
/*============ main-content CSS Start ============*/
.banner {
    padding: 4rem 0;
}

.banner .banner_text h1 {
    font-size: 4.25rem;
    font-weight: 900;
    margin-bottom: 0;
}

.banner .banner_text h1.text_prog {
    color: #ffb700;
}

.banner .banner_text h1.text_edu {
    color: #4535aa;
}

.banner .banner_text h1.text_simp {
    color: #212529;
}

.banner .banner_text p {
    color: #4f4f4f;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 1rem 0 0;
}

.banner .image {
    visibility: visible;
    -webkit-animation: 1500ms 0ms slideInRight;
    animation: 1500ms 0ms slideInRight;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.banner .image img {
    -webkit-animation: moving 3s infinite linear;
    animation: moving 3s infinite linear;
}

.nav-link {
    cursor: pointer;
}

@-webkit-keyframes moving {
    0% {
        left: 0;
    }

    50% {
        left: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        left: 0;
    }
}

@keyframes moving {
    0% {
        left: 0;
    }

    50% {
        left: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        left: 0;
    }
}

.everything {
    padding: 2rem 0;
}

.everything .text_free {
    color: #4f4f4f;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
}

.everything .content_box {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.everything .content_box .img_box {
    max-width: 80px;
    margin: 0 auto;
}

.everything .content_box h4 {
    color: #212529;
    font-weight: 600;
    margin: 1rem 0;
}

.everything .content_box p {
    color: #4f4f4f;
}

.online_practice {
    padding: 2rem 0;
}

.online_practice .img_box img {
    /* max-width: calc(100% - -70px); */
    width: 100%;
    height: auto;
    -webkit-animation: moving 3s infinite linear;
    animation: moving 3s infinite linear;
}

@keyframes moving {
    0% {
        left: 0;
    }

    50% {
        left: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        left: 0;
    }
}

.online_practice .compiler_options_box {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    z-index: 2;
}

.online_practice .compiler_options_box a {
    background: #ffffff;
    line-height: 24px;
    padding: 0.75rem 1rem;
    border: 1px solid #e8e8e8;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 8px 12px rgba(2, 30, 84, 0.06);
    box-shadow: 0 8px 12px rgba(2, 30, 84, 0.06);
}

.online_practice .compiler_options_box a h5 {
    color: #4527a4;
    margin-bottom: 0.5rem;
}

.online_practice .compiler_options_box a svg {
    margin-left: 5px;
}

.online_practice .compiler_options_box a:hover span,
.online_practice .compiler_options_box a:hover svg {
    color: #4527a4;
}

.popular_resources {
    padding: 2rem 0;
}

.popular_resources h4 {
    font-weight: 300;
    text-align: center;
}

.popular_resources .resources_content {
    /* display: -ms-grid; */
    display: grid;
    grid-gap: 1.5rem;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    margin-top: 3rem;
}

.popular_resources .resources_content .content_box {
    background: #ffffff;
    text-align: center;
    padding: 3rem 0.5rem;
    border: 1px solid #f2f2f2;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.popular_resources .resources_content .content_box img {
    max-height: 50px;
    margin-bottom: 1rem;
}

.popular_resources .resources_content .content_box p {
    color: #4527a4;
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 0;
}

.popular_resources .resources_content .content_box:hover p {
    color: #212529;
}

.tutorials {
    padding: 2rem 0;
}

.tutorials .category_box {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.tutorials .category_box h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffb700;
    font-weight: 300;
    margin-bottom: 1rem;
}

.tutorials .category_box h1 figure {
    margin-bottom: 0;
    margin-right: 1rem;
}

.tutorials .category_box .category_info {
    background: #dfecff;
    color: #212529;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0 1rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.tutorials .category_box .category_info.bg-danger {
    background: #ed639e !important;
    color: #ffffff;
}

.tutorials .text_simplified {
    color: #4f4f4f;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
}

.tutorial_index {
    padding: 2rem 0;
}

.tutorial_index .comn_box {
    color: #6c757d;
    font-weight: 300;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.tutorial_index .comn_box h4 {
    color: #212529;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.tutorial_index .heading {
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}

.tutorial_index .accordion .accordion-item {
    padding-top: 0.75rem;
    border-width: 0;
    border-bottom-width: 1px;
}

.tutorial_index .accordion .accordion-item:last-child {
    border-bottom-width: 0;
}

.tutorial_index .accordion .accordion-item .top_heading h2 {
    color: #212529;
    font-weight: 300;
}

.tutorial_index .accordion .accordion-item .top_heading h2 svg {
    margin-left: auto;
    float: right;
}

.tutorial_index .accordion .accordion-item .top_heading span {
    color: #6c757d;
}

.tutorial_index .accordion .accordion-item .accordion-header .accordion-button {
    background: transparent;
    color: #4f4f4f;
    padding: 1rem 0.5rem;
    border: 0;
}

.tutorial_index .accordion .accordion-item .accordion-header .accordion-button:focus {
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tutorial_index .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    -webkit-filter: brightness(0.2);
    filter: brightness(0.2);
}

.drop{
    animation-duration: 3s;
}

.tutorial_index .accordion .accordion-item .accordion-body a {
    color: #4527a4;
    display: block;
    line-height: 2;
}

.tutorial_index .accordion .accordion-item .accordion-body a:hover {
    color: #212529;
}

.split_box {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 10px;
    -ms-grid-columns: 260px calc(100% - 670px) 390px;
    grid-template-columns: 260px calc(100% - 670px) 390px;
}

.split_box .aside_nav .navbar .navbar-collapse {
    padding: 0;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 65px);
    margin-left: 0.65rem;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item {
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #eee;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-header .accordion-button {
    background: transparent;
    color: #212529;
    font-weight: 500;
    padding: 0.75rem 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-header .accordion-button::after {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    -webkit-filter: brightness(0);
    filter: brightness(0);
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-body {
    padding: 0;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-body .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-body .navbar-nav h5 {
    padding-left: 1rem;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-body .navbar-nav .nav-item .nav-link {
    padding: 0.35rem 0.7rem;
    border-radius: 0.25rem;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-body .navbar-nav .nav-item .nav-link:hover {
    background: #cccccc;
}

.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-body .navbar-nav .nav-item .nav-link:focus,
.split_box .aside_nav .navbar .navbar-collapse .accordion .accordion-item .accordion-body .navbar-nav .nav-item .nav-link.active {
    background: #f857a6;
    background: -webkit-gradient(linear, left top, right top, from(#4535aa), to(#ed639e));
    background: linear-gradient(to right, #4535aa, #ed639e);
    color: #ffffff;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.25);
}

.split_box .middle_content {
    min-height: calc(100vh - 201px);
    padding: 4rem 1rem;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2) !important;
}

.split_box .middle_content .top_heading h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.split_box .middle_content .category_content p {
    color: #212529;
    font-size: 1.25rem;
    line-height: 2rem;
}

.split_box .middle_content .category_content a {
    color: #4527a4;
    font-size: 1.25rem;
    text-decoration: underline;
}

.split_box .middle_content .category_content code {
    font-size: 1.25rem;
    line-height: 2rem;
}

.split_box .middle_content .category_content h2 {
    margin: 1.75rem 0;
}

.split_box .middle_content .category_content ul {
    list-style: disc;
    padding-left: 2rem;
}

.split_box .middle_content .category_content li {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.split_box .middle_content .category_content .code_example_box {
    position: relative;
}

.split_box .middle_content .category_content .code_example_box .code_example {
    background: #171338;
    padding: 1em;
    overflow: auto;
    border-radius: 0.35em;
}

.split_box .middle_content .category_content .code_example_box .code_example p {
    color: #f8f8f2;
    font-size: 1.35rem;
}

.split_box .middle_content .category_content .code_example_box .code_example p .number {
    color: #f92672;
}

.split_box .middle_content .category_content .code_example_box .code_example p .comment {
    color: #808080;
    padding-left: 35px;
}

.split_box .middle_content .category_content .code_example_box .code_example p .keyword {
    color: #e6db74;
}

.split_box .middle_content .category_content .code_example_box .code_example p .string {
    color: #a6e22e;
}

.split_box .middle_content .category_content .code_example_box .code_example p .space {
    padding-left: 35px;
}

.split_box .middle_content .category_content .code_example_box .text_copy_btn {
    position: absolute;
    top: 0.3em;
    right: 0.45em;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    opacity: 0;
    display: inline-block;
}

.split_box .middle_content .category_content .code_example_box .text_copy_btn .copy_btn {
    background: transparent;
    color: #999;
    padding: 0 0.6em;
    border: solid 2px #e7e4f8;
    border-radius: 0.2em;
}

.split_box .middle_content .category_content .code_example_box:hover .text_copy_btn {
    opacity: 1;
}

.split_box .right_content .content_box {
    background: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid transparent;
}

.split_box .right_content .content_box.border-danger {
    border-color: #ed639e;
}

.split_box .right_content .content_box.border-primary {
    border-color: #4527a4;
}

.split_box .right_content .content_box.border-warning {
    border-color: #ffb700;
}

.split_box .right_content .content_box a {
    color: #4527a4;
}

.static_page .static_page_banner .banner_img_box img {
    width: 100%;
}

.static_page .static_page_content {
    padding: 2rem 0;
}

.static_page .static_page_content .static_heading h1 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    position: relative;
}

.static_page .static_page_content .static_heading h1::after {
    position: absolute;
    content: "";
    bottom: -0.25rem;
    left: 0;
    width: 3.5rem;
    height: 0.25rem;
    background: #4535aa;
}

.static_page .static_page_content .static_content h5 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.static_page .static_page_content .static_content P.text_note {
    font-weight: 600;
    margin-top: 3rem;
}

.static_page .static_page_content .img_box img {
    -webkit-animation: floatY 2s linear infinite;
    animation: floatY 2s linear infinite;
}

@-webkit-keyframes floatY {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes floatY {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

/*============ main-content CSS End ============*/
/*============ Footer CSS Start ============*/
.footer {
    padding: 3rem 0;
    border-top: 1px solid #e7e4f8;
}

.footer .foot_heading {
    color: #212529;
    font-weight: 300;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #6c757d;
}

.footer .foot_heading.website_text {
    border-bottom: 0;
}

.footer .foot_link_title {
    color: #4f4f4f;
    font-weight: 600;
    text-align: center;
    margin: 1.5rem 0 0.85rem;
}

.footer ul.foot_links li {
    line-height: 2.5;
}

.footer ul.foot_links li a {
    color: #4527a4;
    display: block;
}

.footer ul.foot_links li a:hover {
    color: #212529;
}

.footer ul.foot_social_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.footer ul.foot_social_links li {
    margin-right: 1.5rem;
}

.footer ul.foot_social_links li:last-child {
    margin-right: 0;
}

.footer ul.foot_social_links li a {
    color: #4527a4;
    display: block;
    line-height: 18px;
}

.footer ul.foot_social_links li a svg {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.footer ul.foot_social_links li a:hover {
    background: #ffffff;
    border-radius: 0;
}

.footer ul.foot_social_links li a:hover svg {
    -webkit-filter: brightness(0.2);
    filter: brightness(0.2);
}

.footer .category_box .category_info {
    background: #dfecff;
    color: #212529;
    font-size: 1.25rem;
    width: 100%;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 1rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.footer .copyright_text {
    color: #212529;
}


/* responsive css  */


@media only screen and (max-width: 1199px) {
    .popular_resources .resources_content .content_box p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 991px) {
    .header .navbar .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        width: 400px;
        max-width: 75%;
        height: 100%;
        background: #ffffff;
        opacity: 0.3;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        z-index: 99;
    }

    .header .navbar .navbar-collapse.collapse.show {
        transform: translateX(0);
        opacity: 1;
        transition: all 0.4s ease-in-out;
    }

    .header .navbar .navbar-collapse>div {
        padding: 0.4rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        padding: 0.5rem 1rem;
    }

    .split_box {
        grid-template-columns: 100%;
    }
    .margin-nav{
        margin: 12px 0px;
    }

    .aside_nav .navbar-toggler.center {
        position: fixed;
        top: 8%;
        /* right: 0; */
        left: 0;
        transform: translateY(-50%);
        background: #4535aa;
        color: #ffffff;
        padding: 0.5rem;
        border-radius: 0.25rem;
       
    }

    .aside_nav .navbar .navbar-collapse {
        position: fixed;
        top: 0;
        right: auto;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        width: 280px;
        height: 100%;
        min-height: 100vh;
        background: #ffffff;
        opacity: 0.3;
        transition: all 0.3s ease-in-out;
        z-index: 99;
    }

    .aside_nav .navbar .navbar-collapse.collapse.show {
        transform: translateX(0);
        opacity: 1;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.4s ease-in-out;
    }

    .aside_nav .navbar .accordion {
        width: auto !important;
        margin-right: 0.65rem !important;
    }

    .aside_nav .navbar .navbar-nav .nav-item .nav-link {
        padding: 0.5rem 1rem;
    }

    .split_box .middle_content .top_heading h1 {
        max-width: 41rem;
    }

    .split_box .middle_content .all_category .all_category_box .category_content {
        grid-template-columns: repeat(2, 1fr);
    }

    .tutorials .category_box .category_info {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .header .navbar-brand {
        width: 150px;
    }

    .header .navbar-nav {
        max-height: calc(100vh - 47px);
        overflow-y: auto;
        padding-bottom: 1rem;
    }

    .heading {
        font-size: 1.65rem;
    }

    .heading span::before,
    .heading span::after {
        content: none;
    }

    .banner {
        padding: 1rem 0;
    }

    .banner .banner_text h1 {
        font-size: 2.75rem;
    }

    .banner .banner_text p {
        font-size: 1.35rem;
    }

    .everything {
        padding: 2rem 0;
    }

    .everything .content_box {
        padding: 2rem 0.5rem 1rem;
    }

    .everything .content_box h4 {
        margin: 1rem 0 0.5rem;
    }

    .popular_resources {
        padding: 2rem 0;
    }

    .popular_resources .resources_content {
        grid-gap: 0.75rem;
        margin-top: 1.5rem;
    }

    .popular_resources .resources_content .content_box {
        padding: 1rem 0.5rem;
    }

    .split_box .middle_content {
        padding: 1rem;
    }

    .split_box .middle_content .all_category .all_category_box .category_content .content_box p {
        font-size: 1rem;
    }

    .split_box .middle_content .all_category .all_category_box .category_content .content_box .primary_btn {
        min-width: 130px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 575px) {
    .header .navbar-toggler .toggler-icon {
        right: 0;
    }

    .online_practice .compiler_options_box a {
        padding: 0.5rem;
    }

    .online_practice .compiler_options_box a h5 {
        font-size: 1rem;
    }

    .online_practice .compiler_options_box a span {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 419px) {
    .navbar .navbar-collapse {
        width: 250px;
    }

    .popular_resources .resources_content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 359px) {
    .split_box .middle_content .all_category .all_category_box .category_content {
        grid-template-columns: repeat(1, 1fr);
    }

    .online_practice .compiler_options_box {
        grid-template-columns: repeat(1, 1fr);
    }

    .online_practice .compiler_options_box a {
        padding: 1rem 1.5rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .split_box {
        grid-template-columns: 230px calc(100% - 240px);
    }

    .split_box .middle_content .top_heading h1 {
        max-width: 48rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .banner .banner_text h1 {
        font-size: 3.25rem;
    }

    .banner .banner_text p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .popular_resources .resources_content {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* @media only screen and (max-width: 767px) and (min-width: 576px) {
  } */

@media only screen and (max-width: 767px) and (min-width: 420px) {
    .popular_resources .resources_content {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* @media only screen and (max-width: 575px) and (min-width: 360px) {
  } */

/*============ Footer CSS End ============*/
/*# sourceMappingURL=custom.css.map */